body {
    margin: 0px;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif; 
}

header {
    background-color: #0e1c31;
    padding: 1em;
}

.navbar {
    margin: 0 auto;
    width: 50%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    padding-left: 1rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: #f2f2f2;
}

#navbarItem a:hover, #logo a:hover {
    color: #2a64b8;
}

.orderInfo {
    text-align: center;
    margin: 2% auto;
}

.content {
    margin: 5% auto;
    width: 75%;
}

#payment-form {
    margin: 10% auto;
    width: 80%;
}

.rentgroup {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.rentrange {
    background-color: rgb(231, 231, 231); /* Green */
    border: none;
    color: black;
    padding: 25px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
}

/* .rentrange: */