body {
    margin: 0px;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif; 
}

header {
    background-color: #0e1c31;
    padding: 1em;
}

.navbar {
    margin: 0 auto;
    width: 50%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    padding-left: 1rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: #f2f2f2;
}

#navbarItem a:hover, #logo a:hover {
    color: #2a64b8;
}

.orderInfo {
    text-align: center;
    margin: 2% auto;
    font-size: 14pt;
}

.content {
    margin: 3% auto;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5% 5% 0.5% 5%;
}

#payment-form {
    margin: 10% auto;
    width: 80%;
}

.rentgroup {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.rentrange {
    border: 2px solid #0e1c31;
    border-radius: 5px;
    padding: 25px 36px;
    font-size: 14pt;
    width: 22%;
}

@media only screen and (max-width: 1635px) {
    .rentrange {
        padding: 25px 5px;
        width: 20%;
    }
}

@media only screen and (max-width: 1300px) {
    .rentrange {
        padding: 25px 1px;
    }
    .rentgroup {
        justify-content: space-around;
        /* align-items: center; */
    }
}


@media only screen and (max-width: 450px) {
    .content {
        margin: 3% auto;
        width: 95%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #payment-form {
        margin: 10% auto;
        width: 100%;
    }

    .navbar {
        width: 99%;
    }
}

