body {
    margin: 0px;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif; 
}

.contaniner {
    display: none;
    grid-template-columns: 25% auto 25%;
    height: 100vh;
}

.tasksList {
    margin-top: 2%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
}

.tasksList::-webkit-scrollbar {
    display: none;
}

.task {
    background-color: #e6e6e6;
    width: 95%;
    padding: 2%;
    border: 1px solid #c2c2c2;
}

.taskTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.TaskView {
    width: 100%;
    /* margin: 1rem auto 0px 0px; */
    background-color: #e6e3e3;  
}

.content {
    visibility: hidden;
    width: 100%;
    padding: 1rem auto;
    background-color: cadetblue;
}

.infoPanel {
    background-color: blueviolet;
    width: 100%;
    /* margin: 1rem 0px 1rem auto; */
}

.task p {
    margin: 0px;
}

.serverTask {
    width: 95%;
    margin: 1rem auto;
}