body {
    margin: 0px;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif; 
}

header {
    background-color: #0e1c31;
    padding: 1em;
}

a {
    color: #4CAF50;
}

.navbar {
    margin: 0 auto;
    width: 50%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    padding-left: 1rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: #f2f2f2;
}

#navbarItem a:hover, #logo a:hover {
    color: #2a64b8;
}

.content {
    width: 60%;
    margin: 5% auto;
}

#AccountInfo {
    font-weight: 400;
}

#OrderInfo {
    margin-bottom: 0px;
    font-weight: 400;
}

.orderdiv {
    padding: 4%;
    border-bottom: 2px solid #0e1c31;
}

#card{
    display: inline;
    margin: 2% 0px;

}

#carddate{
    display: inline;
    margin: 2% 0px;
}

.cardInfo {
    width: 60%;
    margin: 2% auto;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
}